// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
   font-family: Roboto;
   padding-left: 40px;
}

.display_letters {
  display: flex;
  flex-direction: row;
}

.letter {
  padding: 10px;
  margin-right: 10px;
  background-color: blue;
  opacity: 0.6;
  color: white;
  font-size: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.letter:hover {
  opacity: 0.8;
}

.form {
  margin-top: 50px;
  #text {
    width: 300px;
    height: 40px;
  }
}

#score {
  font-family: Roboto;
  font-size: 30px;
}
